<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Depositi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                background-color: #e7fae3;
            }
            .toolbar {
              height: auto;
              margin: -8px;
              display: flex;
              align-items: center;
              background-color: #528566;
              color: white;
              font-weight: 600;
            }
            .button {
                display: inline-block;
                font-family: arial,sans-serif;
                font-size: 11px;
                color: rgb(255, 255, 255);
                text-shadow: 0 -1px rgb(46,53,58);
                text-decoration: none;
                user-select: none;
                line-height: 2em;
                padding: 1px 1.2em;
                outline: none;
                border: 1px solid rgba(33,43,52,1);
                border-radius: 3px;
                background: rgb(82, 133, 102) linear-gradient(rgb(40, 92, 62), rgb(40, 64, 50));
                box-shadow:
                    inset 0 1px rgba(101,114,126,1),
                    inset 0 0 1px rgba(140,150,170,.8),
                    0 1px rgb(83,94,104),
                    0 0 1px rgb(86,96,106);
            }
            .button:active {
                box-shadow:
                    inset 0 1px 3px rgba(0,10,20,.5),
                    0 1px rgb(83,94,104),
                    0 0 1px rgb(86,96,106);
            }
            .button:focus:not(:active) {
                border: 1px solid rgb(22,32,43);
                border-bottom: 1px solid rgb(25,34,45);
                background: rgb(53,61,71);
                box-shadow:
                    inset 0 1px 3px rgba(0,10,20,.5),
                    0 1px rgb(83,94,104),
                    0 0 1px rgb(86,96,106);
                pointer-events: none;
            }
            .table_blur {
                background: #d1ded2;
                border-collapse: collapse;
                text-align: left;
              }
            .table_blur th {
                border-top: 1px solid #777777;	
                border-bottom: 1px solid #777777; 
                box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
                background: linear-gradient(#528566, #356648);
                color: white;
                padding: 10px 15px;
                position: relative;
              }
            .table_blur th:after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 25%;
                height: 25%;
                width: 100%;
                background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
              }
            .table_blur tr:nth-child(odd) {
                background: #f2f9eb;
              }
            .table_blur th:first-child {
                border-left: 1px solid #777777;	
                border-bottom:  1px solid #777777;
                box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
              }
            .table_blur th:last-child {
                border-right: 1px solid #777777;
                border-bottom:  1px solid #777777;
                box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
              }
            .table_blur td {
                border: 1px solid #e3eef7;
                padding: 10px 15px;
                position: relative;
                transition: all 0.5s ease;
              }
            .table_blur tbody:hover td {
                color: transparent;
                text-shadow: 0 0 3px #a09f9d;
              }
            .table_blur tbody:hover tr:hover td {
                color: #444444;
                text-shadow: none;
              }
        </style>
    </head>
    <body>
        <div class="toolbar">
            <h1>GESTISCI DEPOSITI</h1>
            <div style="margin-left: 230px" align="center">
                <a class="button" href="#" th:href="@{/}">HOME</a>
                <a class="button" href="#" th:href="@{/clienti}">Clienti</a>
                <a class="button" href="#" th:href="@{/depositi}">Deposita Olive</a>
                <a class="button" href="#" th:href="@{/acquisti}">Disponibilità olio</a>
                <a class="button" href="#" th:href="@{/prenotazioni}">Registra prenotazione</a>
            </div>
        </div>    
        <div style="margin-top:50px" align="center">
        <form action="#" th:method="post" th:action="@{/depositi/salva}" th:object="${depositi}">
            <select id="cfCliente" th:field="*{clienti}" style="width:190px">
                <option value="" >--- Scegli CF Cliente ---</option>
                <option th:each="clienti: ${listaClienti}" th:value="${clienti.codiceFiscale}" th:text="${clienti.codiceFiscale}"/> 
            </select>
            <input type="text" th:field="*{turno}" placeholder="Turno"
                   required pattern="[A-Z]{1}[0-9]{1,2}"
                   title="Prima lettera maiuscola seguita da massimo due cifre."/>
            <input type="text" th:field="*{tipoOliva}" placeholder="Tipo oliva"
                   required pattern="[A-Z]{1}[a-z].{1,}"
                   title="Inserire la prima lettera maiuscola."/>
            <input type="text" th:field="*{ceste}" placeholder="Ceste"
                   required pattern="[0-9]+([\-][0-9]{0,2})?+([\-][0-9]{0,2})?"
                   title="Separare le ceste con il simbolo '-'"/>
            <input type="text" th:field="*{peso}" placeholder="Peso"
                   required pattern="[0-9]+([\.][0-9]{0,2})?"
                   title="Inserie valore con massimo due cifre decimali."/>
            <input id="Salva" type="submit" class="button" value="Salva"/>
        </form>
        <table style="margin-left:130px" class="table_blur">
            <thead>
                <tr>
                    <th style="width:138px">Codice Fiscale</th>
                    <th style="width:147px">Turno</th>
                    <th style="width:147px">Tipo oliva</th>
                    <th style="width:147px">Ceste</th>
                    <th style="width:147px">Peso</th>
                    <th style="width:25px"> </th>
                    <th style="width:25px"> </th>
                </tr>
                    
            </thead>
            <tbody>
                <tr th:each="depositi: ${listaDepositi}">
                    <td th:text="${depositi.clienti.codiceFiscale}">CF cliente</td>
                    <td th:text="${depositi.turno}">Turno</td>
                    <td th:text="${depositi.tipoOliva}">Tipo oliva</td>
                    <td th:text="${depositi.ceste}">ceste</td>
                    <td th:text="${depositi.peso}">Peso</td>
                    <td><a class="button" href="#" th:href="@{|/depositi/modifica/${depositi.turno}|}">Modifica</a></td>
                    <td><a class="button" href="#" th:href="@{|/depositi/rimuovi/${depositi.turno}|}">Rimuovi</a></td>
                </tr>
            </tbody>
        </table>
        </div>

    </body>
</html>
