<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Disponibilità olio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                background-color: #e7fae3;
            }
            .toolbar {
              height: auto;
              margin: -8px;
              display: flex;
              align-items: center;
              background-color: #528566;
              color: white;
              font-weight: 600;
            }
            .button {
                display: inline-block;
                font-family: arial,sans-serif;
                font-size: 11px;
                color: rgb(255, 255, 255);
                text-shadow: 0 -1px rgb(46,53,58);
                text-decoration: none;
                user-select: none;
                line-height: 2em;
                padding: 1px 1.2em;
                outline: none;
                border: 1px solid rgba(33,43,52,1);
                border-radius: 3px;
                background: rgb(82, 133, 102) linear-gradient(rgb(40, 92, 62), rgb(40, 64, 50));
                box-shadow:
                    inset 0 1px rgba(101,114,126,1),
                    inset 0 0 1px rgba(140,150,170,.8),
                    0 1px rgb(83,94,104),
                    0 0 1px rgb(86,96,106);
            }
            .button:active {
                box-shadow:
                    inset 0 1px 3px rgba(0,10,20,.5),
                    0 1px rgb(83,94,104),
                    0 0 1px rgb(86,96,106);
            }
            .button:focus:not(:active) {
                border: 1px solid rgb(22,32,43);
                border-bottom: 1px solid rgb(25,34,45);
                background: rgb(53,61,71);
                box-shadow:
                    inset 0 1px 3px rgba(0,10,20,.5),
                    0 1px rgb(83,94,104),
                    0 0 1px rgb(86,96,106);
                pointer-events: none;
            }
        </style>
    </head>
    <body>
        
        <div class="toolbar">
            <h1>MODIFICA DISPONIBILITA'</h1>
            <div style="margin-left: 140px" align="center">
                <a class="button" href="#" th:href="@{/}">HOME</a>
                <a class="button" href="#" th:href="@{/clienti}">Clienti</a>
                <a class="button" href="#" th:href="@{/depositi}">Deposita Olive</a>
                <a class="button" href="#" th:href="@{/acquisti}">Disponibilità olio</a>
                <a class="button" href="#" th:href="@{/prenotazioni}">Registra prenotazione</a>
            </div>
        </div> 
        <div style="margin-top:50px" align="center">
        <form action="#" th:method="post" th:action="@{/acquisti/modifica}" th:object="${acquisti}">
            <input type="hidden" th:field="*{clienti}"      placeholder="Codice fiscale"/>
            <label><strong>Tipologia oliva</strong></label>
            <input type="text" th:field="*{tipoOliva}" placeholder="Tipo oliva" title="Non puoi modificare questo campo" readonly/>
            <label><strong>Prezzo/Lt</strong></label>
            <input type="text" th:field="*{prezzoLt}" placeholder="Prezzo al Litro"
                   required pattern="[0-9]+([\.][0-9]{0,2})?"
                   title="Deve avere al massimo due cifre decimali"/>
            <label><strong>Litri</strong></label>
            <input type="text" th:field="*{litri}" placeholder="Litri acquistati"
                   required pattern="[0-9]+([\.][0-9]{0,2})?"
                   title="Deve avere al massimo due cifre decimali"/>
            <input id="Salva" type="submit" class="button" value="Salva"/>
        </form>
        </div>    
        

    </body>
</html>
